<%# OKorn-Override: Navbar-Schriftzug "DocuSeal" -> "OKorn Immobilien"
    (Upstream 3.0.3: render 'shared/logo' + <span>DocuSeal</span>). %>
<%= render 'shared/logo' %>
<span>OKorn Immobilien</span>
